* {
    margin: 0px;
    padding: 0px;
}
input {
    appearance: none;
}
button {
    appearance: none;
}
body {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100vh;
    max-width: 100vw;
    font-family: 'Roboto';

}
nav {
    display: flex;
    flex-flow: row wrap;
    max-width: 100vw;
    justify-content: space-between;
    grid-row: 1;
    align-items: baseline;
    padding: 1.5em;
}
li:hover {
    text-decoration: underline;
    cursor: pointer;
}
#navlist1, #navlist2 {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
    width: 45%;
}
#navlist2 {
    justify-content: flex-end;
    align-items: baseline;
}
#apps {
    fill: grey;
    align-self: center;
    width: 30px;
    height: 30px;

}
#apps :hover {
    fill: black;
    cursor: pointer;
    height: 1.5rem;
}
#sign-in {
    background-color: RGB(68, 132, 241);
    color: white;
    width: 5rem;
    height: 2rem;
    border-radius: 3px;
    border: none;
    font-weight: bold;  
}
#sign-in:hover{
    box-shadow: 1em #70A3F6;
    cursor: pointer;
    box-shadow: 0px 2px 1px #70A3F6;
}
#logoandsearch {
    grid-row: 2;
    display: flex;
    flex-flow:column wrap;
    place-self: center;
    gap: 2rem;
    justify-content: center;
}
#google {
    place-self: center;
}
#magnifier{
    fill:rgb(229, 230, 233);
    z-index: auto;
}
#searchbar {
    outline: none;
    padding-left: 40px;
    width: 25rem;
    place-self: center;
    border: 0.1rem solid rgb(229, 230, 233);
    border-radius: 13rem;
    height: 2.8rem;
    background-image: url(search_black_24dp.svg)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
}
#searchbar :hover {
    border: none;
    box-shadow: 1px 1px 5px 1px #DDDDDD
}
#buttons {
    place-self: center;   
}
#search, #lucky {
    background-color: whitesmoke;
    color: #343434;
    border: none;
    border-radius: 7px;
    padding: 0.7rem 1rem;
}
#lucky:hover, #search:hover {
    border: 1px solid #DDDDDD;
    cursor: pointer;
}
footer {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    grid-row: 3;   
    max-width: 100vw; 
    background-color: whitesmoke;
    height: 4rem;
    align-self: end;
    align-content: center;
    padding: 0 1.5em 0 1.5em;
}
#footlist1, #footlist2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: flex-end;
} 
ul {
    list-style: none;
}