body {
    height: 100%;
    width: 100%; 
    padding: 10px;
    display: grid;
    grid-template: 1fr 3fr 1fr/1fr;
}
main {
    background-color: white;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}
#logoandsearch {
    display: grid;
    gap: 0.2rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    
}
#googlelogo {
    grid-row-start: 1;
}
#searchbar {
    box-sizing: border-box;
    border: 0.1rem solid rgb(229, 230, 233);
    border-radius: 13rem;
    height: 2.8rem;
    width: 35rem;   
    grid-column-start: 1;
    grid-row-start: 2;
}

#searchbar:hover {
    border: none;
    box-shadow: 1px 1px 5px 1px #DDDDDD
}
#buttons {
    display: flex;
    justify-content:space-around;

    width: 19rem;
    grid-row: 3/4;
    grid-column: 3/4
    align-self: center;
}
#search, #lucky {
        background-color: RGB(241, 241, 241);
        color: #65696D;
        border: none;
        border-radius: 7px;
        padding: 0.7rem 1rem;
}
#lucky:hover, #search:hover {
    border: 1px solid #DDDDDD;
    color: #343434;
    background-color: #f2f2f2;
    box-shadow: 1px 1px 1px 1px 1px #E9E9E9;
}
ul {
display: flex;
flex-flow: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#sign-in {
    background-color: RGB(68, 132, 241);
    color: RGB(228, 237, 253);
}
#apps {
    color: dimgrey;
}
footer {
    
    background-color: whitesmoke;
    color: RGB(116, 119, 123);
    height: 3rem;
    border-top: 1px solid RGB(228, 228, 228);
    justify-content: space-evenly;
    padding: 0.3rem;
    grid-row-start: 3;

    }
#footlist {
        padding: 0.3rem;
        display: flex;
        justify-content: space-between;
    }
    #navlist {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        color: #2f2f2f;
    }
    #footlist1, #footlist2, #navlist1, #navlist2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1rem;
    }
   

    